@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: black;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx{
    position: relative;
    width: 35%;
    height: 100%;
}
section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    float: right;
    width: 100%;
}
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx h6{
    color:aquamarine;
}
section .contentBx .formBx p{
    color:#f53677;
    font-size: 13px;
}
section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid white;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #f53677;
}
section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
section .contentBx .formBx .remember input[type="checkbox"]{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    outline: none;
    transition: .5s;
}
section .contentBx .formBx .remember input[type="checkbox"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    box-sizing: border-box;
    transition: .5s;
}
section .contentBx .formBx .remember input:checked[type="checkbox"]::before{
    border-left: none;
    border-top: none;
    width: 10px;
    border-color: #ff4584;
    transform: rotate(45deg) translate(5px, -10px);
}
section .contentBx .formBx .inputBx p{
    color: white;
}
section .contentBx .formBx .inputBx p a{
    text-decoration: none;
    color: white;
}
section .contentBx .formBx .inputBx p a:hover{
    color: #ff4584;
}
section .contentBx .formBx .imgBx p a{
    color: #ff4584;
}
section .contentBx .formBx h3{
    color: white;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentBx .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contentBx .formBx .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f6088;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
section .contentBx .formBx .sci li:hover{
    background: #ff4584;
}
section .contentBx .formBx .sci li img{
    transform: scale(0.5);
    filter: invert(1);
    max-width: 60px;
}